### T-Test
#### Cutlet

In [60]:
import numpy as np
import pandas as pd
from scipy import stats

In [33]:
cutlet_dataset=pd.read_csv('Cutlets.csv')
cutlet_dataset.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [34]:
Unit_A=cutlet_dataset['Unit A']
Unit_B=cutlet_dataset['Unit B']

In [35]:
pval = stats.ttest_ind(Unit_A,Unit_B)[1]
pval

0.4722394724599501

In [36]:
if pval < 0.05:
    print('we reject the null hypotheis')
else:
    print('we accept the null hypothesis')

we accept the null hypothesis

## Anova
### LabTAT

In [37]:
lab=pd.read_csv('LabTAT.csv')
lab

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [38]:
stats.f_oneway(lab["Laboratory 1"],lab["Laboratory 2"],lab["Laboratory 3"],lab["Laboratory 4"])[1]

2.1156708949992414e-57

In [39]:
if pval < 0.05:
    print('we reject the null hypotheis')
else:
    print('we accept the null hypothesis')

we accept the null hypothesis

### buyer ratio

### Chi-square test

In [40]:
buyer=pd.read_csv('BuyerRatio.csv')
buyer

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [41]:
male=[50,142,131,70]
female=[435,1523,1356,750]

In [45]:
temp=[[50,142,131,70],[435,1523,1356,750]]

In [46]:
from scipy.stats import chi2_contingency

In [51]:
stats,p,dof,expected=chi2_contingency(temp)

In [52]:
stats,p,dof,expected

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [57]:
alpha=0.05
print("p value is " + str(p))
if p< alpha:
    print('Not similar(reject H0)')
else:
    print('Similar(H0 holds true)')

p value is 0.6603094907091882
Similar(H0 holds true)

## One way Anova
### Customer order form

In [58]:
cust=pd.read_csv('Costomer+OrderForm.csv')
cust

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [71]:
from sklearn.preprocessing import LabelEncoder

In [75]:
label=LabelEncoder()
cust["Phillippines"]=label.fit_transform(cust["Phillippines"])
cust["Indonesia"]=label.fit_transform(cust["Indonesia"])
cust["Malta"]=label.fit_transform(cust["Malta"])
cust["India"]=label.fit_transform(cust["India"])
cust.head()

   Phillippines  Indonesia  Malta  India
0             1          1      0      1
1             1          1      1      0
2             1          0      0      1
3             1          1      1      1
4             1          1      0      1

In [79]:
Y=stats.f_oneway(cust["Phillippines"],cust["Indonesia"],cust["Malta"],cust["India"])[1]

In [80]:
Y

0.2776780955705948

In [83]:
alpha=0.05
print("p value is " + str(Y))
if p< alpha:
    print('Defective% is different(reject H0)')
else:
    print('Defective% is same(H0 holds true)')

p value is 0.2776780955705948
Defective% is same(H0 holds true)